<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="banner">
			<div class="header">
				<h1>Restaurant Hello World</h1>
			</div>
    </div>

    <div class="nachricht">
        <h4>{{nachricht}}</h4>
        <form>
        <!-- Zurück zur Homepage. -->
        <input type="button" value="Zurück zur Startseite" onclick="history.back()">
        </form>
    </div>

</body>
</html>